.published {
  padding: 0 15px 93px;
  border-bottom: 2px solid rgba(222, 222, 222, .5);
}

.published-title {
  margin-top: 0;
  margin-bottom: 49px;
  font-size: 32px;
  line-height: 1.1429;
  font-weight: 700;
  font-style: oblique;
  text-align: center;
}

.published__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.published__content-wrapper .place-card:nth-child(n) {
  justify-self: center;
}
