.creation-offer-form {
  width: 80%;
  margin: 0 auto;
}

.creation-offer-form__field-label {
  margin-bottom: 10px;
  display: block;
}

.creation-offer-form__select {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 14px 16px 10px;
  font-size: 14px;
  line-height: 1.2143;
  -webkit-transition: background .3s;
  transition: background .3s;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.creation-offer-form__select-arrow {
  margin-top: 5px;

}

.creation-offer-form__select-arrow--active {
  transform: rotate(180deg);
}

.creation-offer-form__select:hover {
  background-color: #e6e6e6;
}

.creation-offer-form__select-list {
  padding: 0;
  list-style: none;
  border: 1px solid #e6e6e6;
  border-top: none;
  margin: 0;
}

.creation-offer-form__select-option {
  padding: 14px 16px 10px;
  font-size: 14px;
  line-height: 1.2143;
  -webkit-transition: background .3s;
  transition: background .3s;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.creation-offer-form__select-option:hover {
  background-color: #e6e6e6;
}

.creation-offer-form__text-upload {
  color: #818181;
}

.creation-offer-form__selected-file-text {
  color: #4481c3;
  text-decoration: underline;
}

.creation-offer-form__facilities-checkbox-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.creation-offer-form__ficility-item,
.creation-offer-form__ficility-item--checked {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
}

.creation-offer-form__ficility-item--checked::before {
  content: "";
  position: absolute;
  background-image: url("../../../public/img/checked-box.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  left: -1px;
  top: 5px;
  cursor: pointer;
}

.creation-offer-form__ficility-item::before {
  content: "";
  position: absolute;
  background-image: url("../../../public/img/checkbox.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  left: -1px;
  top: 5px;
  cursor: pointer;
}
