.creation-offer-form {
  width: 80%;
  margin: 0 auto;
}

.creation-offer-form__field-label {
  margin-bottom: 10px;
  display: block;
}

.creation-offer-form__select {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 14px 16px 10px;
  font-size: 14px;
  line-height: 1.2143;
  -webkit-transition: background .3s;
  transition: background .3s;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.creation-offer-form__select-arrow {
  margin-top: 5px;

}

.creation-offer-form__select-arrow--active {
  transform: rotate(180deg);
}

.creation-offer-form__select:hover {
  background-color: #e6e6e6;
}

.creation-offer-form__select-list {
  padding: 0;
  list-style: none;
  border: 1px solid #e6e6e6;
  border-top: none;
  margin: 0;
}

.creation-offer-form__select-option {
  padding: 14px 16px 10px;
  font-size: 14px;
  line-height: 1.2143;
  -webkit-transition: background .3s;
  transition: background .3s;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.creation-offer-form__select-option:hover {
  background-color: #e6e6e6;
}

.creation-offer-form__text-upload {
  color: #818181;
}

.creation-offer-form__selected-file-text {
  color: #4481c3;
  text-decoration: underline;
}

.creation-offer-form__facilities-checkbox-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.creation-offer-form__ficility-item,
.creation-offer-form__ficility-item--checked {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
  width: max-content;
}

.creation-offer-form__ficility-item--checked::before {
  content: "";
  position: absolute;
  background-image: url("../../../public/img/checked-box.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  left: -1px;
  top: 5px;
  cursor: pointer;
}

.creation-offer-form__ficility-item::before {
  content: "";
  position: absolute;
  background-image: url("../../../public/img/checkbox.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  left: -1px;
  top: 5px;
  cursor: pointer;
}

.creation-offer-form__upload-photos-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  align-items: center;
}

.creation-offer-form__upload-preview {
  display: block;
  cursor: pointer;
  width: max-content;
  justify-self: center;
}

.creation-offer-form__upload-preview-wrapper {
  display: flex;
  height: 160px;
  width: 220px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  background-color: rgb(245, 245, 245);
  background-image: url('../../../public//img/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.creation-offer-form__upload-preview-wrapper:hover::after {
  position: absolute;
  content: "Upload image";
  font-size: 14px;
  width: 218px;
  height: 30px;
  left: 0px;
  top: 140px;
  background-color: #e0e0e0;
  text-align: center;
  padding-top: 7px;
  animation: ShowFromBottom 0.3s;
}

@keyframes ShowFromBottom {
  from {
    top: 145px;
  }

  to {
    top: 140px;
  }
}

