.creation-offer-form {
  width: 80%;
  margin: 0 auto;
}

.creation-offer-form__field-label {
  margin-bottom: 10px;
  display: block;
}

.creation-offer-form__select {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 14px 16px 10px;
  font-size: 14px;
  line-height: 1.2143;
  -webkit-transition: background .3s;
  transition: background .3s;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.creation-offer-form__select-arrow {
  margin-top: 5px;

}

.creation-offer-form__select-arrow--active {
  transform: rotate(180deg);
}

.creation-offer-form__select:hover {
  background-color: #e6e6e6;
}

.creation-offer-form__select-list {
  padding: 0;
  list-style: none;
  border: 1px solid #e6e6e6;
  border-top: none;
  margin: 0;
}

.creation-offer-form__select-option {
  padding: 14px 16px 10px;
  font-size: 14px;
  line-height: 1.2143;
  -webkit-transition: background .3s;
  transition: background .3s;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.creation-offer-form__select-option:hover {
  background-color: #e6e6e6;
}

.creation-offer-form__text-upload {
  color: #818181;
}

.creation-offer-form__selected-file-text {
  color: #4481c3;
  text-decoration: underline;
}
